a, h3 {
    color: sienna;
    font-weight: bold;
}

.caption {
    background: rgb(78, 250, 78);
}

#featured {
    align-self: auto;
    text-align: right;
    background: lime;
}

@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}